<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="spellChecker" class="com.kai.chap.SpellChecker"></bean>

    <!-- SpringBeans的byname自动装配 -->
    <bean id="textEditor" class="com.kai.chap.TextEditor" autowire="byName">
        <property name="name" value="Generic Text Editor"/>
    </bean>

</beans>